---
type Props = {
  title?: string;
  seo?: any;
}

const analytics = import.meta.env.ENABLED_ANALYTICS;
const { title, seo } = Astro.props;
---
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title || 'Javier Diaz — Ingeniería y diseño'}</title>
  { analytics && (
    <script defer data-domain="coderdiaz.com" src="https://analy.fun/js/script.js"></script>
  )}
  <slot />
</head>
