---
import { getImage } from 'astro:assets';
import { defaultSeo } from '@/lib/constants';
import { generateAbsoluteUrl } from '@/lib/utils';

type Props = {
  title?: string;
  seo?: any;
}

const analytics = import.meta.env.ENABLED_ANALYTICS;
const { seo } = Astro.props;

const image = await getImage({ src: seo?.image || defaultSeo.image, format: 'png'});
const seoImage = generateAbsoluteUrl(image.src);
---
<head>
  <meta charset="utf-8" />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <title>{seo?.title ? seo.title + ' | Javier Diaz @coderdiaz' : null || defaultSeo.title}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content={Astro.generator} />
  <meta name="description" content={seo?.description || defaultSeo.description} />
  <slot name="keywords">
    <meta name="keywords" content={seo?.keywords || defaultSeo.keywords} />
  </slot>
  <meta name="robots" content={seo?.robots || defaultSeo.robots} />
  <!-- OpenGraph Meta -->
  <meta property="og:type" content={seo?.type ?? 'website'} />
  <meta property="og:site_name" content={defaultSeo.title} />
  <meta property="og:title" content={seo?.title || defaultSeo.title} />
  <meta property="og:description" content={seo?.description || defaultSeo.description} />
  <meta property="og:image" content={seoImage} />
  <meta property="og:image:width" content="1280" />
  <meta property="og:image:height" content="720" />
  <!-- Twitter Meta -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:creator" content="@coderdiaz" />
  <meta property="twitter:site" content="@coderdiaz" />
  <meta property="twitter:title" content={seo?.title || defaultSeo.title} />
  <meta property="twitter:description" content={seo?.description || defaultSeo.description} />
  <meta property="twitter:image" content={seoImage} />
  { analytics && (
    <script defer data-domain="coderdiaz.com" src="https://analy.fun/js/script.js"></script>
  )}
  <slot />
</head>
