---
import { motion } from 'framer-motion';
import { getEntry } from 'astro:content';
import Container from '@/components/Container.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';

const entry = await getEntry('pages', 'services');
const { Content } = await entry.render();
---
<BaseLayout seo={entry.data.seo}>
  <section
    class="border-b border-gray-200">
    <Container>
      <div class="relative flex flex-col gap-4 pt-12 pb-12 md:w-[40rem]">
        <motion.h1
          client:load
          initial={{opacity:0, y:-20}}
          animate={{opacity:1, y:0}}
          transition={{ type: 'spring', stiffness: 250, damping: 20}}
          className="font-bold text-[2rem] md:text-[2.8rem] leading-[1.1]">{entry.data.title}</motion.h1>
        <motion.p
          client:load
          initial={{opacity:0, y:-20}}
          animate={{opacity:1, y:0}}
          transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.05 }}
          className="font-medium text-gray-600 text-lg">{entry.data.description}</motion.p>
        <motion.span
          client:load
          initial={{opacity:0,y:-20}}
          animate={{opacity:0.05,y:0}}
          transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.1 }}
          className="absolute left-0 -ml-16 mt-9 top-0 mb-0 hidden font-mono text-[18rem] text-accent-600 leading-none opacity-5 lg:flex pointer-events-none select-none">*</motion.span>
      </div>
    </Container>
  </section>
  <Content />
</BaseLayout>
