---
import { motion } from 'framer-motion';
import Container from '@/components/Container.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getEntry } from 'astro:content';

const entry = await getEntry('pages', 'services');
const { Content } = await entry.render();
---
<BaseLayout>
  <section
    class="border-b border-gray-200">
    <Container>
      <div class="flex flex-col gap-4 pt-12 pb-12 md:w-[40rem]">
        <motion.h1
          client:load
          initial={{opacity:0, y:-20}}
          animate={{opacity:1, y:0}}
          transition={{ type: 'spring', stiffness: 250, damping: 20}}
          className="font-bold text-[2rem] md:text-[2.8rem] leading-[1.1]">{entry.data.title}</motion.h1>
        <motion.p
          client:load
          initial={{opacity:0, y:-20}}
          animate={{opacity:1, y:0}}
          transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.05 }}
          className="font-medium text-gray-600 text-lg">{entry.data.description}</motion.p>
      </div>
    </Container>
  </section>
  <Content />
</BaseLayout>
