---
import { cn } from '@/lib/utils';
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class={cn('max-w-[52rem] mx-auto px-5 md:px-10 h-full border-x border-gray-200/75 border-dashed', className)}>
  <slot />
</div>