---
import type { CollectionEntry } from 'astro:content'

interface Props {
  entry: CollectionEntry<'notes'>;
}
const { entry } = Astro.props;
---
<a href={`/notas/${entry.slug}`} class="py-2 hover:bg-gray-50 group hover:ring-4 hover:ring-gray-50 px-2 rounded-xl transition">
  <article class="flex items-center gap-3">
    <span class="block text-gray-500 text-sm tabular-nums">
      {entry.data.publishedAt.getFullYear()}-{entry.data.publishedAt.getMonth().toString().padStart(2, '0')}-{(entry.data.publishedAt.getDate()+1).toString().padStart(2, '0')}
    </span>
    <h4 class="font-semibold underline underline-offset-2 decoration-gray-200 group-hover:decoration-orange-500 transition">{entry.data.title}</h4>
  </article>
</a>